/* .full {
    height: 100%;
    width: 100%;
    display: flex;
    position: relative;
} */

.sidebar {
    display: block;
    width: 350px;
    height: 695px;
    background-color: rgb(60, 55, 121);
    position: sticky;
}

.img {
    padding-top: 40px;
    padding-left: 70px;
}

img {
    height: auto;
    width: 200px;
    border-radius: 50%;
}

h1{
    color: #ffffff;
    padding-left: 22%;
    font-family: Dancing Script;
}

p {
    padding-top: 10px;
    padding-left: 25%;
    font-weight: bold;
    font-size: small;
    color: #c9c5c5;
}

.nav{
    height: 400px;
    width: 100%;
    padding: 30px;
    padding-top: 90px;
}

.nav {
    padding-left: 50px;
    justify-content: left;
    display: grid;
    grid-template-rows: repeat(4, 50px);
    font-size: 20px;
    font-family: Titillium Web;
    align-items: center;
}

.nav a{
    color: rgb(220, 218, 236);
    text-decoration: none;
}

a:hover {
    color: #ffffff;
    font-weight: bolder;
}